body {
	background-color: #fff;
	font-family: 'Oxygen', sans-serif;
	box-sizing: border-box;
}

/** HEADER **/

#header-nav {
	background-color: #423C39;
	border-radius: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.navbar-brand {
	padding-top: 0;
	margin: 10px;
}

.navbar-brand h1 { /**Restaurant Name**/
	margin: 20px;
	line-height: 0;
}

.navbar-brand a:any-link {
	color: #fff;
	text-decoration: none;	
}

/**Button**/

button {
	margin: 20px;
}

#nav-list a {
	text-align: center;
	color: #fff;
	background-color: #CA4909;
}

#nav-list a:hover {
	background: #000;
}


/**Our Menu**/
 h2 {
 	color: #000;
 	padding-bottom: 25px;
 }

/**Food Class Divs**/
.food {
	padding: 15px;
	height: 2000px;
	margin: 15px;
	background-color: #000;
	color: #fff;
}